extends ../base

block content
    .row.justify-content-center.mb-3
        .col-lg-4
            if message
                .alert.alert-danger= message
            form(action='/login' method='POST')
                .form-group
                    label(for='email') Email
                    input.form-control#email(type='email' name='email' value=email)
                    small.form-text.text-muted Igual ao seu cadastro.
                .form-group
                    label(for='password') Senha
                    input.form-control#senha(type='password' name='password')
                button.btn.btn-primary(type='submit') Login