extends ../base

block content
    .row.justify-content-center.mb-3
        .col-lg-4
            form(action='/register' method='POST')
                include _form
                .btn-group(role='group')
                    button.btn.btn-success(type='submit') Registrar 
                    button.btn.btn-danger(type='reset') Limpar