extends base

block content
    .row.justify-content-center.mb-3
        .col-lg-8.col-sm-12.text-center
            img.img-fluid.img-thumbnail.mb-3(src="/images/404.png" alt="404 Not Found")
            h1 
                u 404 Recurso Não Encontrado