nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    .container.d-flex.justify-content-between
        a.navbar-brand(href="#") To Do List
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Alterna navegação")
            span.navbar-toggler-icon
            
        .collapse.navbar-collapse(id="menu")
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    if session.user !== undefined
                        a.nav-link(href="/tasks") Tasks
                    else
                        a.nav-link(href="/login") Login
                li.nav-item.active
                    if session.user !== undefined
                        a.nav-link(href="/logout") Logout
                    else
                        a.nav-link(href="/register") Register