<!DOCTYPE html>
html(lang="en")
    head
        include _head
        
        title To Do List - #{title}
    body
        .container
            if session.user !== undefined
                include _authUser

            include _header

            block content

            include _footer