<!DOCTYPE html>
html(lang="en")
    head
        include _head
        
        title To Do List - #{title}
    body
        include _menu
        .container
            if session.user !== undefined
                include _authUser
            
            include _header

            block content

            include _footer