extends ../base

block content
    .row.justify-content-center
        .col-lg-8
            h1 Tarefas de #{session.user.name}
            if session.user.tasks.length === 0
                p Você nao tem nenhuma tarefa
            else
                ul.list-group.mt-3
                    each task in tasks
                        if !task.concluded
                            include _list_item_task
                            +task(task)
                ul.list-group.mt-3.mb-3
                    each task in tasks
                        if task.concluded
                            include _list_item_task
                            +task(task)
            a.btn.btn-success.mb-3(href="/tasks/new" role="button")  Criar nova tarefa