extends ../base

block content
    .row.justify-content-center
        .col-lg-4
            form(action="/tasks/store" method="POST")
                include _form
                .btn-group(role='group')
                    a.btn.btn-primary(role='button' href='/tasks') Voltar
                    button.btn.btn-success(type='submit') Registrar 
                    button.btn.btn-danger(type='reset') Limpar