extends ../base

block conteudo
  .row.justify-content-center
    .col-lg-4
      form(action=`/usuario/${session.usuario.id}/editar` method='post')
        include ../autenticacao/_formulario
        button.btn.btn-primary(type='submit') Atualizar