extends ../base

block conteudo
  .row.justify-content-center
    .col-lg-4
      form(action=`/user/${session.user.id}/edit` method='post')
        include ../Auth/_form
        button.btn.btn-primary(type='submit') Atualizar